*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

.container1>*{
    display: grid;
    grid-template-columns: auto;
    border: 1px solid black;
    margin: auto 10px;
}

.container1{
    background-color: #aaa;
}


.nav--container{
    display: flex;
    justify-content: space-between;
    background: #4e83b1;
    margin: auto auto;
    text-transform: uppercase;
    margin: auto 10px;
}

#name{
    font-weight: 700;
    font-size: 3.5vh;
    font-size: 3.5vw;
}

ul{
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 2.5vw;
    font-size: 2.5vh;
    gap: 1em;
    font-weight: 500;
    /* border: 1px solid black; */
}

#student--id{ 
    margin: auto auto;
    padding: 95px;
    /* text-align: center; */
    font-weight: 700;
    text-transform: uppercase;
    padding-top:5%;
    margin: auto 10px;
 }

input{
    height: 4vh;
    width: 6vh;
    background: #fff;
    /* align-self: center; */
}

/* #student--id, input{ */
    /* margin: auto auto; */
/* } */

#computer--club--name{
    text-align: center;
    /* margin: auto auto; */
    font-weight: 900;
    text-transform: uppercase;
    background: #ddd;
    /* width: 50%; */
    /* height: 4vh; */
    /* color: #ac9453; */
    font-size: 4vw;
    font-size: 4vh;
    /* padding-top: 5%; */
    /* padding-bottom: 5%; */
}

#instructions{
    /* text-align: center; */
    padding-top: 10% ;
}

.container1>#instructions{
    text-align: center;
}

#instructions>p{
    font-size: 4vw;
    font-size: 4vh;
    color: #5964ae;
    text-align: left center;
}

#instructions>h3{
    color: #ac9453;
    text-transform: uppercase;
    font-size: 5vw ;
    font-size: 5vh;
}

span{
    font-weight: 900;
    text-transform: uppercase;
    color: #0e1125;
}

.container--questions{
    padding: 15%;
    background: #4a5c71;
    color: #fff;
}

.container--questions>h1{
    text-align: center;
}

.container--questions>p{
    font-size: 6vw;
}
 
.container--questions>*{
    /* text-align */
}

form{
    gap: 2.5em;
    font-size: 4vw
}
